<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2 style="background: blue"> thanks for submit</h2>
<b>your profile</b>
<p>name: <%= data.person%></p>
<p>department: <%= data.department%></p>
<p>tel: <%= data.tel%></p>
<p style="background: red">we will contact you immediately</p>
</body>
</html>
